*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.experience-section {
     padding: 150px ;
     background-color: #0d0d0d;
     color: white;
}

.experience-title {
     text-align: center;
     font-size: 2.5rem;
     margin-bottom: 40px;
}

.experience-title span {
     color: white;
     font-weight: bold;
}

.experience-list {
     display: flex;
     flex-direction: column;
     gap: 20px;
     max-width: 900px;
     margin: 0 auto;
}

.experience-card {
     background-color: #1a1a1a;
     padding: 24px;
     border-radius: 10px;
     border: 1px solid #333;
     transition: transform 0.3s;
}

.experience-card:hover {
     transform: scale(1.02);
}

.experience-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 12px;
}

.icon-role {
     display: flex;
     align-items: center;
     gap: 10px;
}

.icon-role h3 {
     font-size: 1.1rem;
     font-weight: 600;
}

.icon {
     font-size: 1.5rem;
}

.date {
     font-size: 0.9rem;
     color: #ccc;
}

.description {
     color: #aaa;
     font-size: 0.95rem;
     line-height: 1.5;
}