.about-section {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding-left: 120px;
     height: 80vh;
     box-sizing: border-box;
}

.about-text {
     max-width: 50%;
}

.about-text h1,
.about-text h2 {
     margin: 0;
     font-size: 2.5rem;
     line-height: 1.3;
}

.about-text h1 strong,
.about-text h2 strong {
     font-weight: bold;
}

.about-text .outline {
     font-weight: bold;
     color: transparent;
     -webkit-text-stroke: 1px black;
}

.about-text p {
     margin-top: 1.5rem;
     max-width: 95%;
     color: #555;
     font-size: 1rem;
}

.social-icons {
     margin-top: 2rem;
     display: flex;
     gap: 1rem;
}



.social-icons span {
     display: inline-block;
     padding: 0.75rem;
     border: 2px solid black;
     border-radius: 6px;
     font-size: 1.5rem;
     background-color: white;
}

.about-image {
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.photo-placeholder {
     width: 400px;
     height: 400px;
     aspect-ratio: 1/1;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     overflow: hidden;
}

.photo-placeholder img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 50%;
}


@media (max-width: 1024px) {
     .about-section {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2rem 1rem;
          text-align: center;
          height: auto;
          padding-left: 0 !important;
          padding-right: 0 !important;
     }

     .about-text {
          max-width: 100%;
     }

     .about-text h1,
     .about-text h2 {
          font-size: 2rem;
     }

     .about-text p {
          font-size: 0.95rem;
     }

     .about-image {
          width: 100%;
          margin-top: 2rem;
     }

     .photo-placeholder {
          width: 250px;
          height: 250px;
     }

     .MuiStack-root {
          flex-direction: column !important;
          align-items: center;
     }

     .MuiButton-root {
          width: 100%;
          max-width: 250px;
     }
}