.about-section {
     background-color: #fff;
     color: #333;
}

.about-container {
     display: flex;
     max-width: 1100px;
     margin: 0 auto;
     align-items: center;
     gap: 40px;
     flex-wrap: wrap;
}

.about-image img {
     max-width: 350px;
     width: 100%;
     height: auto;
     border: 2px solid #000;
     border-radius: 12px;
}

.about-content {
     flex: 1;
     min-width: 300px;
}

.about-title {
     font-size: 2.5rem;
     margin-bottom: 20px;
}

.about-title span {
     font-weight: bold;
}

.about-content p {
     font-size: 1rem;
     line-height: 1.6;
     color: #555;
}