.footer {
     background-color: #000000;
     color: #ffffff;
     padding: 2rem 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.footer-logo h1 {
     font-size: 1.5rem;
     font-weight: bold;
     letter-spacing: 2px;
}
